@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

body {
  font-family: var(--font-serif);
}

.cq {
  container-type: inline-size;
}
